a:hover {font-weight:normal;}
thead {display:none;}
table {
        border-spacing: 0px 10px;
        border-collapse: separate;
        margin-top: -10px;
}
.navbar-nav > li {
  margin-left: 15px;
  margin-right: 15px;
}
